{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  </head>
  <body>
    <div class="resume">
      <div class="container">
        <div class="user__wrapper">

          <div class="user-images">
            <img src="{{ profile.image.url }}" alt="user img" />
          </div>

          <div class="user__wrapper-header">
            <ul class="user__wrapper-header-ul">
              <li class="user__name">
                <h2>{{ profile.full_name }}</h2>
                <h3>{{ profile.subject }}</h3>
                <p> <span></span>{{ profile.bio }}<span></span></p>
              </li>


              {% for info in info %}
              <li class="user__contact">
                <!-- mail -->
                <div class="item">
                  <div class="item-icon">
                    <svg
                      width="10"
                      height="10"
                      viewBox="0 0 10 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M8.33334 8.33334H1.66668C1.20644 8.33334 0.833344 7.96024 0.833344 7.5V2.46376C0.852764 2.01773 1.22023 1.66625 1.66668 1.66667H8.33334C8.79358 1.66667 9.16668 2.03977 9.16668 2.50001V7.5C9.16668 7.96024 8.79358 8.33334 8.33334 8.33334ZM1.66668 3.27834V7.50001H8.33334V3.27834L5.00001 5.50001L1.66668 3.27834ZM2.00001 2.50001L5.00001 4.50001L8.00001 2.50001H2.00001Z"
                        fill="#79819A"
                      />
                    </svg>
                  </div>
                  <div class="item-info">
                    <h4>Email</h4>
                    <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                  </div>
                </div>
                <!-- phone -->
                <div class="item">
                  <div class="item-icon">
                    <svg
                      width="10"
                      height="10"
                      viewBox="0 0 10 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M7.91561 8.33332C4.36077 8.33837 1.66286 5.60812 1.66666 2.08438C1.66666 1.85426 1.85321 1.66666 2.08333 1.66666H3.18306C3.38955 1.66666 3.56496 1.81838 3.59528 2.02263C3.66795 2.51216 3.81048 2.98873 4.01853 3.43779L4.06134 3.53021C4.12088 3.65871 4.08052 3.81139 3.96527 3.89369C3.6247 4.13691 3.49454 4.62648 3.75986 5.00848C4.09281 5.48785 4.51251 5.90746 4.99177 6.24025C5.37375 6.5055 5.86324 6.37536 6.10645 6.03485C6.18881 5.91954 6.34158 5.87916 6.47015 5.93872L6.56215 5.98134C7.01123 6.18937 7.48784 6.3319 7.97742 6.40456C8.18167 6.43487 8.33332 6.61028 8.33332 6.81677V7.91666C8.33332 8.14677 8.14632 8.33332 7.9162 8.33332L7.91561 8.33332Z"
                        fill="#79819A"
                      />
                    </svg>
                  </div>
                  <div class="item-info">
                    <h4>Phone</h4>
                    <a href="tel: {{ info.number }}">{{ info.number }}</a>
                  </div>
                </div>
                <!-- location -->
                <div class="item">
                  <div class="item-icon">
                    <svg
                      width="10"
                      height="10"
                      viewBox="0 0 10 10"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M5.00001 8.75C4.47373 8.3011 3.98592 7.80896 3.54168 7.27875C2.87501 6.4825 2.08334 5.29666 2.08334 4.16666C2.08275 2.98648 2.79345 1.92224 3.88379 1.47058C4.97413 1.01892 6.22921 1.26885 7.06334 2.10375C7.61187 2.64983 7.91914 3.39266 7.91669 4.16666C7.91669 5.29666 7.12501 6.4825 6.45834 7.27875C6.0141 7.80896 5.52629 8.3011 5.00001 8.75ZM5.00001 2.91666C4.55343 2.91666 4.14077 3.15491 3.91748 3.54166C3.69419 3.92842 3.69419 4.40491 3.91748 4.79167C4.14077 5.17842 4.55343 5.41667 5.00001 5.41667C5.69037 5.41667 6.25001 4.85702 6.25001 4.16666C6.25001 3.47631 5.69037 2.91666 5.00001 2.91666Z"
                        fill="#79819A"
                      />
                    </svg>
                  </div>
                  <div class="item-info">
                    <h4>Address</h4>
                    <a href="{{ info.location_url }}">{{ info.location }}</a>
                  </div>
                </div>
              </li>
              {% endfor %}

              <li class="user__socials">
                <h2 class="title">Socials</h2>
                <ul>
                  {% for social in socials %}
                  <li class="user__socials-item">
                    <div class="item-info">
                      <p>{{ social.name }}</p>
                      <a href="{{ social.url }}" class="item-info-sub">{{ social.imagine }}</a>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </li>

              <li class="user__socials language">
                <h2 class="title">Languages</h2>
                <ul>
                  {% for language in languages %}
                  <li class="user__socials-item">
                    <div class="item-icon">
                      <img src="{{ language.image.url }}" alt="flag" />   <!-- /assets/images/svg/flag-for-flag-uzbekistan-svgrepo-com.svg-->
                    </div>
                    <div class="item-info">
                      <p>{{ language.name }}</p>
                      <p class="item-info-sub">{{ language.degree }}</p>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>

          <button class="darkMode">
            <div class="sun darkModeBtn">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="002-sun">
                <path id="Path" d="M13.5451 6.45502C12.6456 5.55555 11.3757 4.97354 10.0001 4.97354C8.62443 4.97354 7.35459 5.5291 6.45511 6.45502C5.55564 7.35449 4.97363 8.62433 4.97363 10C4.97363 11.3757 5.55564 12.6455 6.45511 13.545C7.35459 14.4444 8.62443 15.0265 10.0001 15.0265C11.3757 15.0265 12.6456 14.4709 13.5451 13.545C14.4445 12.6455 15.0265 11.3757 15.0265 10C15.0265 8.62433 14.471 7.35449 13.5451 6.45502Z" fill="white"/>
                <path id="Path_2" d="M10.0001 3.4127C10.3705 3.4127 10.6879 3.09524 10.6879 2.72487V0.687831C10.6879 0.31746 10.3705 0 10.0001 0C9.62972 0 9.31226 0.31746 9.31226 0.687831V2.72487C9.31226 3.09524 9.62972 3.4127 10.0001 3.4127Z" fill="white"/>
                <path id="Path_3" d="M15.6349 5.34392L17.09 3.88889C17.3545 3.62434 17.3545 3.20106 17.09 2.93651C16.8254 2.67196 16.4021 2.67196 16.1376 2.93651L14.6825 4.39154C14.418 4.65609 14.418 5.07937 14.6825 5.34392C14.9206 5.60847 15.3439 5.60847 15.6349 5.34392Z" fill="white"/>
                <path id="Path_4" d="M19.3123 9.31216H17.2752C16.9049 9.31216 16.5874 9.62962 16.5874 9.99999C16.5874 10.3704 16.9049 10.6878 17.2752 10.6878H19.3123C19.6826 10.6878 20.0001 10.3704 20.0001 9.99999C20.0001 9.62962 19.6826 9.31216 19.3123 9.31216Z" fill="white"/>
                <path id="Path_5" d="M15.6086 14.6561C15.344 14.3915 14.9207 14.3915 14.6562 14.6561C14.3916 14.9206 14.3916 15.3439 14.6562 15.6085L16.1112 17.0635C16.3758 17.328 16.799 17.328 17.0636 17.0635C17.3281 16.7989 17.3281 16.3757 17.0636 16.1111L15.6086 14.6561Z" fill="white"/>
                <path id="Path_6" d="M10.0001 16.5873C9.62972 16.5873 9.31226 16.9048 9.31226 17.2751V19.3122C9.31226 19.6825 9.62972 20 10.0001 20C10.3705 20 10.6879 19.6825 10.6879 19.3122V17.2751C10.6879 16.9048 10.3705 16.5873 10.0001 16.5873Z" fill="white"/>
                <path id="Path_7" d="M4.36511 14.6561L2.91008 16.1111C2.64553 16.3757 2.64553 16.7989 2.91008 17.0635C3.17463 17.328 3.59791 17.328 3.86246 17.0635L5.31749 15.6085C5.58204 15.3439 5.58204 14.9206 5.31749 14.6561C5.07939 14.3915 4.65611 14.3915 4.36511 14.6561Z" fill="white"/>
                <path id="Path_8" d="M3.4127 9.99999C3.4127 9.62962 3.09524 9.31216 2.72487 9.31216H0.687831C0.31746 9.31216 0 9.62962 0 9.99999C0 10.3704 0.31746 10.6878 0.687831 10.6878H2.72487C3.09524 10.6878 3.4127 10.3704 3.4127 9.99999Z" fill="white"/>
                <path id="Path_9" d="M4.36511 5.34392C4.62966 5.60847 5.05294 5.60847 5.31749 5.34392C5.58204 5.07937 5.58204 4.65609 5.31749 4.39154L3.86246 2.93651C3.59791 2.67196 3.17463 2.67196 2.91008 2.93651C2.64553 3.20106 2.64553 3.62434 2.91008 3.88889L4.36511 5.34392Z" fill="white"/>
                </g>
                </svg>

            </div>
            <div class="moon darkModeBtn">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.5133 11.3967C19.3087 11.3453 19.1041 11.3966 18.9251 11.5251C18.2602 12.0901 17.4929 12.5523 16.649 12.8605C15.8562 13.1687 14.9866 13.3228 14.066 13.3228C11.9944 13.3228 10.1019 12.4753 8.74647 11.1142C7.39102 9.75303 6.54707 7.85258 6.54707 5.77237C6.54707 4.89919 6.70051 4.0517 6.95626 3.28125C7.23758 2.45944 7.64677 1.71467 8.18383 1.07263C8.414 0.790132 8.36285 0.379226 8.08153 0.148091C7.90251 0.0196826 7.69792 -0.0316807 7.49332 0.0196826C5.31949 0.61036 3.42698 1.92012 2.07153 3.66648C0.767234 5.38715 0 7.51872 0 9.83007C0 12.6294 1.12528 15.1719 2.96664 17.0209C4.808 18.87 7.3143 20 10.1275 20C12.4803 20 14.6542 19.1782 16.3932 17.8171C18.1579 16.4303 19.4366 14.4528 19.9737 12.1928C20.076 11.8332 19.8714 11.4737 19.5133 11.3967Z" fill="#697C9A"/>
                </svg>

            </div>
          </button>
        </div>

        <div class="user__about">
          <!-- projects -->
          <div class="user__about-item">
            <div class="user__about-item-spans">
              <div class="user__about-item-span"></div>
              <div class="user__about-item-span-arrow"></div>
            </div>

            <div class="user__about-item-content">
              <h2 class="user__about-item-title">Latest projects</h2>
              <div class="user__about-item-wrap__project">

                {% for project in latest_projects %}

                <div class="user__about-item-wrap__project-item">
                  <div class="img">
                    <img
                      src="{{ project.image.url }}"
                      alt="project img"
                    />
                  </div>
                  <div class="info">
                    <h2>{{ project.title }}</h2>
                    <p>
                      {{ project.body }}
                    </p>
                    <div class="link__icon">
                      <div class="icon">
                        <svg
                          width="10"
                          height="10"
                          viewBox="0 0 10 10"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M3.52709 8.55625C2.68452 8.55625 1.92492 8.04871 1.60243 7.2703C1.27994 6.49189 1.45806 5.59587 2.05376 4.99999L2.93793 4.11583L3.52709 4.70499L2.64334 5.58874C2.32753 5.90455 2.2042 6.36485 2.31979 6.79625C2.43538 7.22765 2.77235 7.56462 3.20375 7.68021C3.63515 7.79581 4.09545 7.67247 4.41126 7.35666L5.29501 6.47291L5.88418 7.06249L5.00043 7.94624C4.61046 8.33813 4.07995 8.55778 3.52709 8.55625ZM3.82168 6.76749L3.23251 6.17833L6.17876 3.23208L6.76793 3.82124L3.82209 6.76708L3.82168 6.76749ZM7.06293 5.88374L6.47334 5.29458L7.35709 4.41083C7.6772 4.09596 7.80384 3.6336 7.68886 3.19957C7.57388 2.76553 7.23494 2.42651 6.80093 2.31143C6.36692 2.19634 5.90453 2.32288 5.58959 2.64291L4.70543 3.52666L4.11626 2.93749L5.00043 2.05333C5.81504 1.24581 7.12917 1.24869 7.94024 2.05976C8.75131 2.87084 8.75419 4.18496 7.94668 4.99958L7.06293 5.88333V5.88374Z"
                            fill="#79819A"
                          />
                        </svg>
                      </div>
                      <a href="{{ project.url }}">Visit project</a>
                    </div>
                  </div>
                </div>

                {% endfor %}

              </div>
            </div>
          </div>

          <!-- Experience -->
          <div class="user__about-item">
            <div class="user__about-item-spans">
              <div class="user__about-item-span"></div>
              <div class="user__about-item-span-arrow"></div>
            </div>

            <div class="user__about-item-content">
              <h2 class="user__about-item-title">Experience</h2>
              <ul class="user__about-item-wrap__exper">
                <!-- experience 1 -->
                {% for experience in experiences %}
                <li class="user__about-item-wrap__exper-item">
                  <div class="icon">
                    <img
                      src="{{ experience.logo.url }}"
                      alt="Experience img"
                    />
                  </div>

                  <div class="info">
                    <h2>{{ experience.job }}</h2>
                    <p>{{ experience.company }}</p>
                  </div>

                  <div class="date">
                    <h2>{{ experience.start_date }} - {{ experience.end_date }}</h2>
                    <a href="{{ experience.location_url }}" class="country">
                      <svg
                        width="10"
                        height="10"
                        viewBox="0 0 10 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M5.00001 8.75C4.47373 8.3011 3.98592 7.80896 3.54168 7.27875C2.87501 6.4825 2.08334 5.29666 2.08334 4.16666C2.08275 2.98648 2.79345 1.92224 3.88379 1.47058C4.97413 1.01892 6.22921 1.26885 7.06334 2.10375C7.61187 2.64983 7.91914 3.39266 7.91669 4.16666C7.91669 5.29666 7.12501 6.4825 6.45834 7.27875C6.0141 7.80896 5.52629 8.3011 5.00001 8.75ZM5.00001 2.91666C4.55343 2.91666 4.14077 3.15491 3.91748 3.54166C3.69419 3.92842 3.69419 4.40491 3.91748 4.79167C4.14077 5.17842 4.55343 5.41667 5.00001 5.41667C5.69037 5.41667 6.25001 4.85702 6.25001 4.16666C6.25001 3.47631 5.69037 2.91666 5.00001 2.91666Z"
                          fill="#79819A"
                        />
                      </svg>

                      <p>{{ experience.location }}</p>
                    </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

          <!-- skill's -->
          <div class="user__about-item">
            <div class="user__about-item-spans">
              <div class="user__about-item-span"></div>
              <div class="user__about-item-span-arrow"></div>
            </div>

            <div class="user__about-item-content">
              <h2 class="user__about-item-title">Key Skills</h2>
              <div class="user__about-item-wrap__skills">
                <div class="user__about-item-wrap__skills-item">

                  <div class="user__about-item-wrap__skills-item-right">
                    <ul>

                      {% for skill in skills %}

                      <li>
                        <p  style="color: #516cf7; font-size: 20px">{{ skill.name }}</p>
                      </li>

                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Additional skills -->
          <div class="user__about-item">
            <div class="user__about-item-spans">
              <div class="user__about-item-span"></div>
              <div class="user__about-item-span-arrow"></div>
            </div>

            <div class="user__about-item-content">
              <h2 class="user__about-item-title">Additional Skills</h2>
              <div class="user__about-item-wrap__skills">
                <div class="user__about-item-wrap__skills-item">


                  <div class="user__about-item-wrap__skills-item-right">
                    <ul>
                      {% for skill in additional_skills %}

                        <li>
                          <p  style="color: #516cf7; font-size: 20px">{{ skill.name }}</p>
                        </li>

                      {% endfor %}

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- education -->
          <div class="user__about-item">
            <div class="user__about-item-spans">
              <div class="user__about-item-span"></div>
              <div class="user__about-item-span-arrow"></div>
            </div>

            <div class="user__about-item-content">
              <h2 class="user__about-item-title">Education</h2>
              <div class="user__about-item-wrap__edu">
                <!-- ul 1 -->
                <ul class="user__about-item-wrap__edu-item">

                  {% for education in educations %}

                  <li>
                    <div class="top">
                      <div class="img">
                        <img src="{{ education.logo.url }}" alt="img" />
                      </div>
                      <h4>{{ education.academy }}</h4>
                    </div>
                    <div class="bottom">
                      <h3>{{ education.subject }}</h3>
                      <p>{{ education.start_date }} - {{ education.end_date }}</p>
                    </div>
                  </li>

                  {% endfor %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <script>
      const body = document.querySelector("body");
      const darkMode = document.querySelector(".darkMode");
      const sun = document.querySelector(".sun");
      const moon = document.querySelector(".moon");

      let dark = JSON.parse(localStorage.getItem("mode")) ? true : false;

      if (dark) {
        body.classList.add("dark");
        sun.setAttribute("style", "display: flex");
        moon.setAttribute("style", "display: none");
      } else {
        body.classList.remove("dark");
        sun.setAttribute("style", "display: none");
        moon.setAttribute("style", "display: flex");
      }

      darkMode.addEventListener("click", () => {
        if (JSON.parse(localStorage.getItem("mode"))) {
          body.classList.remove("dark");
          localStorage.setItem("mode", false);
          sun.setAttribute("style", "display: none");
          moon.setAttribute("style", "display: flex");
        } else {
          body.classList.add("dark");
          localStorage.setItem("mode", true);
          sun.setAttribute("style", "display: flex");
          moon.setAttribute("style", "display: none");
        }
      });
    </script>
  </body>
</html>
